<div class="menus-title">
	<h2>Cart</h2>
</div>
<div class="cart-container">
	<div class="cart-titles">
		<p>| Image |</p>
		<p>| Name of Menu |</p>
		<p>| Price |</p>
	</div>
	<hr class="separator-cart-buttons">
	<div class="cart-box">
		<ul class="cart-menu image-box">
			{{#each currentClient.cart.image }}
				<li><img class="cart-menu-image" src="{{ this }}" alt="menu-image"></li>
			{{/each}}
		</ul>

		<ul class="cart-menu name-box">
			{{#each currentClient.cart.name }}
				<li>{{ this }}</li>
			{{/each}}
		</ul>

		<ul class="cart-menu price-box">
			{{#each currentClient.cart.price }}
				<li>{{ this }} €</li>
			{{/each}}
		</ul>
	</div>
	<hr class="separator-cart-buttons">
	<div class="total-price-box">
		<p>Total price:</p><p id="price-id">0</p><p>€</p>
	</div>
	
	<div class="buttons-cart">
		<form action="/cart/{{ currentClient._id }}/deleteAll" method="post">
			<button class="menu-info-delete-button">Delete Your Cart</button>
		</form>
		<form action="/cart/{{ currentClient._id }}/deleteAll" method="post">
			<button class="menu-info-delete-button">Checkout</button>
		</form>
	</div>
	
</div>
