<div class="chef-profile-container">
<div class="chef-profile-box">
	<div>
		<img class="chef-profile-image" src="{{ foundChef.image }}" alt="Profile image">
	</div>
	<div class="chef-profile-info">
		<h2 class="chef-name-profile">{{ foundChef.name }} {{ foundChef.surname }}</h2>
		<p>{{ foundChef.yearsOfExperience }} Years of cooking experience.</p>
		<p>Spoken languages:</p>
		<ul>
			{{#each foundChef.languages }}
				<li>{{ this }}</li>
			{{/each}}
		</ul>
		{{#if_equal foundChef._id currentChef._id}}
			<button class="chef-profile-edit-button"><a href="/chefs/{{ foundChef._id }}/updatechef">Edit Your Profile</a></button>
		{{/if_equal}}
		{{#if_equal foundChef._id currentChef._id}}
			<button class="chef-profile-create-menu-button"><a href="/menus/add">Create new menu</a></button>
		{{/if_equal}}
		</div>
	</div>
	<h3 class="menus-title-profile">{{ foundChef.name }}'s Menus</h3>
	<div class="menus-container">
		{{#each menus }}
			<div class="menus-box">
				<a href="/menus/{{ this._id }}"><img class="menus-picture" src="{{ this.starter.image }}" alt="picture of menu"></a>
				<p class="menus-name">{{ this.title }}</p>
				<p class="menus-cuisine">{{ this.cuisine }}</p>
				<hr class="separator-menus-profile">
				<p class="menus-price">- {{ this.price }}€ -</p>
				<hr class="separator-menus-profile final">
        		{{#if @root.currentClient }}
					<button class="see-more-menus-btn"><a href="">Add to Cart +</a>
        		{{/if}}
				<button class="see-more-menus-btn"><a href="/menus/{{ this._id }}">See more</a></button>
			</div>
		{{/each}}
	</div>
</div>

