<div class="chef-profile-container">
	<div class="chef-profile-box">
		<div>
			<img class="chef-profile-image" src="{{ foundChef.image }}" alt="Profile image">
		</div>
		<div class="chef-profile-info">
			<p class="chef-name-profile">{{ foundChef.name }} {{ foundChef.surname }}</p>
			<p>Years of Experience: {{ foundChef.yearsOfExperience }}</p>
			<p>Languages: {{ foundChef.languages }}</p>
			<button class="chef-profile-edit-button"><a href="/chefs/{{ foundChef._id }}/updatechef">Edit Profile</a></button>
		</div>
	</div>
	<div class="menus-box-profile">
		<p>Menus ( 🔜 coming soon 🔜 )</p>
	</div>
</div>
