<div class="chef-profile-container">
	<div class="chef-profile-box">
		<div>
			<img class="chef-profile-image" src="{{ foundChef.image }}" alt="Profile image">
		</div>
		<div class="chef-profile-info">
			<p class="chef-name-profile">{{ foundChef.name }} {{ foundChef.surname }}</p>
			<p>{{ foundChef.yearsOfExperience }} Years of Experience Cooking</p>
			<p>Spoken Languages:</p>
			<ul>
				{{#each foundChef.languages }}
				<li>{{ this }}</li>
				{{/each}}
			</ul>
			{{#if currentChef }}
			<button class="chef-profile-edit-button"><a href="/chefs/{{ foundChef._id }}/updatechef">Edit Profile</a></button>
			{{/if }}
		</div>
	</div>
		<h3 class="menus-title-profile">{{ foundChef.name }}'s Menus</h3>
</div>