<div class="chef-profile-container">
	<div class="chef-profile-box">
		<div class="chef-profile-image">
			<img src="{{ foundChef.image }}" alt="Profile image">
			<button class="chef-profile-edit-button"><a href="/chefs/{{ foundChef._id }}/updatechef">Edit</a></button>
		</div>

		<div class="chef-profile-info">
			<p>{{ foundChef.name }} {{ foundChef.surname }}</p>
			<p>Years of Experience: {{ foundChef.yearsOfExperience }}</p>
			<p>Languages: {{ foundChef.languages }}</p>
		</div>

	</div>
	<div class="menus-box">
		<p>menus( 🔜 coming soon 🔜 )</p>
	</div>
</div>
