<div class="chef-profile-container">
<div class="chef-profile-box">
	<div class="chef-profile-image-box">
		<img class="chef-profile-image" src="{{ foundChef.image }}" alt="Profile image">
	</div>
	<div class="chef-profile-info">
		<h2 class="chef-name-profile">{{ foundChef.name }} {{ foundChef.surname }}</h2>
		<hr>
		<p class="years-experience">{{ foundChef.yearsOfExperience }} Years of cooking experience.</p>
		<p class="spoken-languages">Spoken languages:</p>
		<ul>
			{{#each foundChef.languages }}
				<li>{{ this }}</li>
			{{/each}}
		</ul>
		{{#if_equal foundChef._id currentChef._id}}
			<a href="/chefs/{{ foundChef._id }}/updatechef"><button class="chef-profile-edit-button">Edit Your Profile</button></a>
		{{/if_equal}}
		{{#if_equal foundChef._id currentChef._id}}
			<a href="/menus/add"><button class="chef-profile-create-menu-button">Create new menu</button></a>
		{{/if_equal}}
		</div>
	</div>
	<h3 class="menus-title-profile">{{ foundChef.name }}'s Menus</h3>
	<hr class="menus-title-separator">
	<div class="menus-container">
		{{#each menus }}
			<div class="menus-box">
				<a href="/menus/{{ this._id }}"><img class="menus-picture" src="{{ this.starter.image }}" alt="picture of menu"></a>
				<p class="menus-name">{{ this.title }}</p>
				<p class="menus-cuisine">{{ this.cuisine }}</p>
				<hr class="separator-menus-profile">
				<p class="menus-price">- {{ this.price }}€ -</p>
				<hr class="separator-menus-profile final">
        		{{#if @root.currentClient }}
				<form action="/cart/{{ this._id }}/addToCart" method="post">
					<button class="menu-info-buy-button" type="submit">Add to Cart +</button>
				</form>
        		{{/if}}
				<button class="see-more-menus-btn"><a href="/menus/{{ this._id }}">See more</a></button>
			</div>
		{{/each}}
	</div>
</div>

