<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar-container">
    <ul class="left-navbar-menu-chef">
      {{!-- <a href="/"><img class="layout-image-logo" src="/images/kuisin-logo.png" alt="Logo"></a> --}}
      <a href="/"><img class="layout-image-logo" src="/images/kuisin_logo1.png" alt="Logo"></a> 
      <li><a href="/menus">Menus</a></li> <p class="menu-separator"> | </p> 
      <li><a href="/chefs">Chefs</a></li> <p class="menu-separator"> | </p>
      <li><a href="/how-it-works">How it works?</a></li>
    </ul>

    <ul class="right-navbar-account">
      <li class="current-email">
        {{#if currentChef }}
        	<p>{{ currentChef.email }}</p>
        {{else if currentClient}}
        	<p>{{ currentClient.email }}</p>
        {{else}}
        {{/if}}
      </li>
      
      {{#if currentChef }}
				<li><button class="layout-button-account"><a href="/chefs/{{ currentChef._id }}">My account</a></button></li>
				<li><button class="layout-button-logout"><a href="/logout">Logout</a></button></li>
      {{else if currentClient}}
				<li><button class="layout-button-cart"><a href="/cart">Cart <img class="cart-image" src="/images/cart.png" alt="cart"></a></button></li>
				<li><button class="layout-button-logout"><a href="/logout">Logout</a></button></li>
      {{else}}
        <div class="login-signup-btn-container">
          <li><button class="layout-btn-login"><a href="/login">Log In</a></button></li>
          <li><button class="layout-btn-signup"><a href="/signup">Sign Up</a></button></li>
        </div>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}

  <footer>
    <div class="footer-container">
      <ul>
        <li><a href="/menus">Menu</a></li>
        <li><a href="/chefs">Chefs</a></li>
        <li><a href="/how-it-works">How it works</a></li>
        <li><a href="/about-us">About us</a></li>
      </ul>
      <a href="/"><img class="layout-footer-image-logo" src="/images/kuisin-logo.png" alt="Logo"></a>
      <p class="copyright">© 2020, Kuisin. All rights reserved.</p>
    </div>
  </footer>
</body>
<script src="/javascripts/tabs.js"></script>
</html>