<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/layout.css'/>
  <link rel='stylesheet' href='/stylesheets/about-us-how-it-works.css'/>
  <link rel='stylesheet' href='/stylesheets/index.css'/>
  <link rel='stylesheet' href='/stylesheets/chef.css'/>
  <link rel='stylesheet' href='/stylesheets/menu.css'/>
  <link rel='stylesheet' href='/stylesheets/login-signup.css'/>

  <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar-container">
    <ul class="left-navbar-menu-chef">
      <a href="/"><img class="layout-image-logo" src="/images/kuisin_logo1.png" alt="Logo"></a> 
      <li><a href="/menus">Menus</a></li> <p class="menu-separator"> | </p> 
      <li><a href="/chefs">Chefs</a></li> <p class="menu-separator"> | </p>
      <li><a href="/how-it-works">How it works</a></li>
    </ul>

    <ul class="right-navbar-account">
      <li class="current-email">
        {{#if currentChef }}
        	<p>{{ currentChef.email }}</p>
        {{else if currentClient}}
        	<p>{{ currentClient.email }}</p>
        {{else}}
        {{/if}}
      </li>
      
      {{#if currentChef }}
				<li><a href="/chefs/{{ currentChef._id }}"><button class="layout-button-account">My account</button></a></li>
				<li><a href="/logout"><button class="layout-button-logout-chef">Logout</button></a></li>
      {{else if currentClient}}
				<li><a href="/cart"><button class="layout-button-cart">Cart <img class="cart-image" src="/images/cart.png" alt="cart"></button></a></li>
				<li><a href="/logout"><button class="layout-button-logout">Logout</button></a></li>
      {{else}}
        <div class="login-signup-btn-container">
          <li><a href="/login"><button class="layout-btn-login">Log In</button></a></li>
          <li><a href="/signup"><button class="layout-btn-signup">Sign Up</button></a></li>
        </div>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}

  <footer class="footer">
    <section class="footer-section">
      <div class="footer-div footer-contact-us">
        <p class="footer-div-title">CONTACT US</p>
        <hr>
        <p>Best and quickest way to contact us is always to send us an email to <b>hi@kuisin.com </b><br> <br>
        You can also reach our team by sending us a message through any social media channel.</p>
        <img class="secure-payment-img" src="/images/secure-payment.png" alt="secure-payment">
      </div>
      <div class="footer-div">
        <p class="footer-div-title">SITEMAP</p>
        <hr>
        <ul class="sitemap-list">
          <li><a href="/how-it-works">How it works</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/menus">Menu</a></li>
          <li><a href="/chefs">Chefs</a></li>
          <div class="social-buttons">
            <a href=""><img class="social-logo" src="/images/twitter.png" alt="twitter"></a>
            <a href=""><img class="social-logo" src="/images/instagram.png" alt="instagram"></a>
            <a href=""><img class="social-logo" src="/images/facebook.png" alt="facebook"></a>
          </div>
        </ul>
      </div>
      <div class="footer-div footer-how-works">
        <p class="footer-div-title">HOW IT WORKS</p>
        <hr>
        <ol>
          <li>Browse through lots of different Menus and professional Chefs.</li>
          <li>Add your Menu to the cart and choose your desired date.</li>
          <li>The Chef will come to your place and cook!</li>
        </ol>
        <img class="payment-method-img" src="/images/credit-card.png" alt="payment-methods">
      </div>
    </section>
    <div class="subfooter">
      <a href="/"><img class="layout-footer-image-logo" src="/images/kuisin-logo.png" alt="Logo"></a>
      <p class="copyright">© 2020, Kuisin. All Rights Reserved.</p> 
    </div>
  </footer>
</body>
<script src="/javascripts/tabs.js"></script>
</html>