<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar-container">
    <ul class="left-navbar-menu-chef">
      {{!-- <a href="/"><img class="layout-image-logo" src="/images/kuisin-logo.png" alt="Logo"></a> --}}
      <a href="/"><img class="layout-image-logo" src="/images/kuisin_logo1.png" alt="Logo"></a> 
      <li><a href="/menus">Menus</a></li> <p class="menu-separator"> | </p> 
      <li><a href="/chefs">Chefs</a></li> <p class="menu-separator"> | </p>
      <li><a href="/how-it-works">How it works</a></li>
    </ul>

    <ul class="right-navbar-account">
      <li class="current-email">
        {{#if currentChef }}
        	<p>{{ currentChef.email }}</p>
        {{else if currentClient}}
        	<p>{{ currentClient.email }}</p>
        {{else}}
        {{/if}}
      </li>
      
      {{#if currentChef }}
				<li><button class="layout-button-account"><a href="/chefs/{{ currentChef._id }}">My account</a></button></li>
				<li><button class="layout-button-logout"><a href="/logout">Logout</a></button></li>
      {{else if currentClient}}
				<li><button class="layout-button-cart"><a href="/cart">Cart <img class="cart-image" src="/images/cart.png" alt="cart"></a></button></li>
				<li><button class="layout-button-logout"><a href="/logout">Logout</a></button></li>
      {{else}}
        <div class="login-signup-btn-container">
          <li><button class="layout-btn-login"><a href="/login">Log In</a></button></li>
          <li><button class="layout-btn-signup"><a href="/signup">Sign Up</a></button></li>
        </div>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}

  <footer class="footer">
    <section class="footer-section">
      <div class="footer-div footer-contact-us">
        <p class="footer-div-title">CONTACT US</p>
        <hr>
        <p>Best and quickest way to contact us is always to send us an email to <b>hi@kuisin.com </b><br> <br>
        You can also reach our team by sending us a message through any social media channel.</p>
        <img class="secure-payment-img" src="/images/secure-payment.png" alt="secure-payment">
      </div>
      <div class="footer-div">
        <p class="footer-div-title">SITEMAP</p>
        <hr>
        <ul class="sitemap-list">
          <li><a href="/how-it-works">How it works</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/menus">Menu</a></li>
          <li><a href="/chefs">Chefs</a></li>
          
        </ul>
      </div>
      <div class="footer-div footer-how-works">
        <p class="footer-div-title">HOW IT WORKS</p>
        <hr>
        <ol>
          <li>Browse through lots of different Menus and professional Chefs.</li>
          <li>Add your Menu to the cart and choose your desired date.</li>
          <li>The Chef will come to your place and cook!</li>
        </ol>
        <img class="payment-method-img" src="/images/credit-card.png" alt="payment-methods">
      </div>
    </section>
    <a href="/"><img class="layout-footer-image-logo" src="/images/kuisin-logo.png" alt="Logo"></a>
    <p class="copyright">© 2020, Kuisin. All Rights Reserved.</p> 
  </footer>
</body>
<script src="/javascripts/tabs.js"></script>
</html>