<div class="menu-info-container">
	<h2 class="menu-info-title">{{ foundMenu.title }}</h2>
	<div class="menu-info-box">
		<div class="menu-info.image-box">
			<img class="menu-info-image" src="{{ foundMenu.starter.image }}" alt="Menu image">
		</div>
		<div class="menu-info-info">
			<h3 class="menu-info-name">{{ foundMenu.starter.name }}</h3>
			<p class="menu-info-dish-properties"><strong>Description: </strong>{{ foundMenu.starter.description }}</p>
			<p class="menu-info-dish-properties"><strong>Ingredients: </strong>{{ foundMenu.starter.ingredients }}.</p>
		</div>
	</div>

	<div class="menu-info-box">
		<div class="menu-info.image-box">
			<img class="menu-info-image" src="{{ foundMenu.mainCourse.image }}" alt="Menu image">
		</div>
		<div class="menu-info-info">
			<h3 class="menu-info-name">{{ foundMenu.mainCourse.name }}</h3>
			<p class="menu-info-dish-properties"><strong>Description: </strong>{{ foundMenu.mainCourse.description }}</p>
			<p class="menu-info-dish-properties"><strong>Ingredients: </strong>{{ foundMenu.mainCourse.ingredients }}.</p>
		</div>
	</div>

	<div class="menu-info-box">
		<div class="menu-info.image-box">
			<img class="menu-info-image" src="{{ foundMenu.dessert.image }}" alt="Menu image">
		</div>
		<div class="menu-info-info">
			<h3 class="menu-info-name">{{ foundMenu.dessert.name }}</h3>
			<p class="menu-info-dish-properties"><strong>Description: </strong>{{ foundMenu.dessert.description }}</p>
			<p class="menu-info-dish-properties"><strong>Ingredients: </strong>{{ foundMenu.dessert.ingredients }}.</p>
		</div>
	</div>

	<div class="menu-info-general">
		<p class="menu-info-properties"><strong>Time: </strong>{{ foundMenu.time }}min</p>
		<p class="menu-info-properties"><strong>Chef: </strong>{{ foundMenu.chef_id.name }}</p>
		<p class="menu-info-properties"><strong>Cuisine: </strong>{{ foundMenu.cuisine }}</p>
		<p class="menu-info-properties"><strong>Price: </strong>{{ foundMenu.price }}€</p>
		{{#if @root.currentClient }}
			<button class="menu-info-buy-button"><a href="<!MISSING CART ROUTE>">Add to Cart</a></button>
    {{/if}}

		{{#if_equal foundMenu.chef_id currentChef._id}}
			<button class="menu-info-edit-button"><a href="/menus/{{ foundMenu._id }}/update-menu">Edit Your Menu</a></button>
			<button class="menu-info-edit-button"><a href="<!MISSING DELETE ROUTE>">Delete Your Menu</a></button>
		{{/if_equal}}
	</div>

</div>