<div class="update-chef-container">
  <div class="update-chef-box">
    <form action="/chefs/{{ chefInfo._id }}" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" value="{{ chefInfo.name }}">
      <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Surname" value="{{ chefInfo.surname }}">
      <label for="image">Image </label>
      <input type="text" name="image" placeholder="Image" value="{{ chefInfo.image }}">
      <label for="yearsOfExperience">Year of experience</label>
      <input type="number" name="yearsOfExperience" min="0" max="50" placeholder="Min 0 and max 50 years" value="{{ chefInfo.yearsOfExperience }}">
      <label for="languages">Languages</label>
      <input type="text" name="languages" placeholder="Languages that you speak" value="{{ chefInfo.languajes }}">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="hello@helloworld.com" value="{{ chefInfo.email }}">
      <button class="update-account-button" type="submit">Update</button>
    </form>
  </div>
</div>