<div class="update-menu-container">
  <div class="update-menu-box">
    <form action="/menus/{{ menuInfo._id }}" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="Title" value="{{ menuInfo.title }}">
      {{!-- <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Surname" value="{{ chefInfo.surname }}">
      <label for="image">Image </label>
      <input type="text" name="image" placeholder="Image" value="{{ chefInfo.image }}">
      <label for="yearsOfExperience">Year of experience</label>
      <input type="number" name="yearsOfExperience" min="0" max="50" placeholder="Min 0 and max 50 years" value="{{ chefInfo.yearsOfExperience }}">
      <label for="languages">Languages</label>
      <input type="text" name="languages" placeholder="Languages that you speak" value="{{ chefInfo.languajes }}">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="hello@helloworld.com" value="{{ chefInfo.email }}">
      <button class="update-account-button" type="submit">Update</button> --}}
    </form>
  </div>
</div>